@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&display=swap');

$fontRobotoSlab:'Roboto Slab', serif;

$mainColor: rgb(37, 37 , 37);
$secondaryColor: rgb(144, 57, 57);
$specialColor: rgb(212,146,146);
$textColor: rgb(211, 204, 204);